/* Nav settings */
body {
  margin: 0;
}

nav {
  margin-bottom: 50px;
}

ul {
  list-style: none;
  flex-direction: row;
}
li {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #6c757d;
}

a:hover {
  color: rgb(111, 235, 202);
}

li {
  display: inline;
  margin: 10px;
  font-size: 16px;
}
/* CONTAINER SETTINGS */
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Grizti pazaisti su pabraukimu iš apačios */

/* Hero badge */
section.hero {
  background-image: url(./hero-bg.png);
}

span {
  color: aquamarine;
}

/* Badge 70%off */
.hero-badge {
  background: rgb(248, 249, 250);
  border: 1px solid rgb(248, 249, 250);
  padding: 2px 15px;
  color: #6c757d;
  border-radius: 2px;
  width: 180px;
}

/* Bandymai padaryti pozicijas */

.hero > .container > .first {
  display: flex;
}

.hero > .container {
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* Bandymai padaryti pozicijas */

/* Paveiksliuko nustatymai */
.hero-img {
  width: 400px;
}

.img-fuild {
  max-width: 100%;
  height: auto;
}
/* Paveiksliuko nustatymai */

/* Teksto margin/dydžiai t.t... */
.hero-title {
  font-size: 60px;
  margin: 0px 0px 24px;
  font-family: Arial, Helvetica, sans-serif;
}

.text {
  font-size: 18px;
  color: #6c757d;
  margin: 0px 0px 48px;
}

.hero-badge {
  margin: 0px 0px 16px;
}
/* _________ */

/* Mygtukai */

.green-button {
  background-color: rgb(38, 226, 175);
  font-size: 16px;
  color: #ffffff;
  padding: 8px 24px;
  border-radius: 20px;
}

.white-button {
  padding: 8px 24px;
  font-size: 16px;
}

.buttons {
  display: flex;
  gap: 30px;
}

/* Brandssss */
.brands {
  display: flex;
  gap: 30px;
  margin: 48px 0px 16px;
  padding: 48px 0px 0px;
}

.brands > img {
  height: 40px;
  width: 141px;
}

/*  */
/* .first { */
/* margin-left: auto; */
/* margin-right: auto; */
/* } */
