.container {
max-width: 1000px;
margin: 0 auto;
}

.bg-red {

    background:red;
}
.bg-green {
    background-color: green;
}

.center-element {
    /* margin iscentruoja per viduri */
    margin: 0 auto;    
    width: 400px;
}